.header_btn-menu,.header_btn-menu2{
    display: none;
}
.icon-bars::before{
    content: url(../img/media/mobile-menu.png);
}
.icon-bars2::before{
    content: url(../img/media/mobile-phone.png);
}
.responsive__menu,.menu__ul-mobile{
    display: none;
}
@media (max-width: 1044px){
    .title__article{
        margin-left: -40px;
    }
}
@media (max-width: 1044px){

}
@media (max-width: 944px){
    .menu ul li a{
        padding: 0;
}  
}
@media (max-width: 876px){
    .contacts__container{
        flex-wrap: wrap-reverse;
    }
}
@media (max-width: 769px){
    .products__wrapper{
        flex-direction: column;
    justify-content: flex-start;
    }
    .products__gel-img img{
        margin: -624px 0 0 0;
    }
    .products__descr{
        margin-top: -129px;
        background-color: rgba(255, 255, 255, 1.3);
        padding-left: 2px;
    }
    .products__bodycare-title{
        
    }
}
@media (max-width: 762px){
    header {
        background-image:url(../img/title_img.png);
        height: 639px;
    }
    .header_btn-menu,.header_btn-menu2{
        display: flex;
        font-size: 40px;
    }
    .menu__ul-mobile li{
        background:#000000;
        width: 100%;
    min-width: 320px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.432);
    }
    .menu__ul{
        display: none;
    }
    .menu__ul-mobile{
        display: flex;
        position: absolute;
        margin-top: 300px;
        z-index: 50;
        flex-direction: column;
    }
    header .menu{
        padding-top: 20px;
    }
    .title__img img{
        display: none;
    }
    .title__wrap .title__article{
        margin-top: 164px;
        padding: 40px 20px;
        height: auto;
    }
    .title__wrap .title__article__text{
        text-align: center;
        font-size: 47px !important;
    }
    .border__article__descr{
        margin: 0px 0 40px 0 !important;
    }
    .title__wrap{
    }
    .button__title{
    }
    .servises{
        margin-top: -600px;
    }
    .servises-title {
        margin-bottom: 600px;
    }
    .servises__container{
    }
    .our__team-slider-wrapper .slick-initialized.slick-slide {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
    }
    .our__team-slider-ul1 ol, .our__team-slider-ul2 ol, .our__team-slider-ul3 ol, .our__team-slider-ul4 ol {
        margin: 0;
    }
    .our__team-slider-photo img{
        padding-left: 20px;
    }
    .our__team-slider{
        margin-top: -67px;
    }
    .menu.footer__menu{
        flex-direction: column;
    }
    
}
@media (max-width: 628px){
    .servises__container{
        margin: 190px 14px 0 0;
    }
    .slick-list.draggable{
        min-height: 509px ;
    }
    .slick-slide.slick-current.slick-active{
    }
    .servises__wrapper.slick-initialized .slick-slide {
        display: flex;
        justify-content: center;
    }
    
}
@media (max-width: 464px){
    .our__team-title{
        margin: 734px 0px 0 0;
    } 
    .slick-dotted.slick-slider{
    }
    .our__team-slider-name1, .our__team-slider-name2, .our__team-slider-name3, .our__team-slider-name4 {
        margin-left: -80px;
    }
    .img__white-color{
        display: none;
    }
    .our__team-slider-ul1 ol, .our__team-slider-ul2 ol, .our__team-slider-ul3 ol, .our__team-slider-ul4 ol{
        margin: 3px 0px -48px -140px;
    }
}